<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="AdministradorConferenciasUP" transaction-type="RESOURCE_LOCAL">
    <class>model.BitacoraPrograma</class>
    <class>model.Documento</class>
    <class>model.EstadoConferencia</class>
    <class>model.Estilo</class>
    <class>model.PlantillaCorreo</class>
    <class>model.PlantillaCorreoXConferencia</class>
    <class>model.Programa</class>
    <class>model.Rol</class>
    <class>model.TipoPlantilla</class>
    <class>model.UsuarioXPrograma</class>
    <class>model.Usuario</class>
    <class>model.Rol_1</class>
    <class>model.Usuario_1</class>
    <class>model.ConfiguracionRed</class>
    <class>model.Conferencia</class>
    <class>model.Correo</class>
    <properties>
      <property name="javax.persistence.jdbc.password" value="postgres"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/administradorconferencias"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
    </properties>
  </persistence-unit>
</persistence>
